<!DOCTYPE html>
<html lang="en">

<head>
	<title> {% block title %}{% endblock %} </title>
	<link rel="stylesheet" href="static/css/default.css">
</head>

<body>	
	{% block body %}
	
	{% block content %}
	{% endblock %}

	<footer>
		Created by Ethan Bryson 2023
	</footer>
	{% endblock %}

	<script>
		let url = "wss://{{ url }}/wss/triple-triad";
	</script>

	<script src="static/js/load-content.js"></script>
	<script src="static/js/draw.js"></script>
	<script src="static/js/tt-client.js"></script>
	{% block scripts %}{% endblock %}
</body>

</html>